
body {
    margin: 0;
    padding: 0;
    background-color: #eff3f8;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: #495057;
}

.flex.hoveredperfil Button,
.flex.hoveredperfil .text-xs {
    color: #66FF66 !important;
}

.flex.hoveredconfig Button,
.flex.hoveredconfig .text-xs {
    color: #66FF66 !important;
}

.flex.hoveredClose Button,
.flex.hoveredClose .text-xs {
    color: #66FF66 !important; 
}


@media (min-width: 992px) {
    .layInit {
        margin-left: 300px;
    }
}

@media (max-width: 992px) {
    .layout_modulos {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .layout_menu {
        display: none !important;
    }
}


.p-button.p-fileupload-choose {
    font-size: 1.25rem;
}

